## Bechdel Stats

In [1]:
# Boilerplate Environment. See notebook: 0_Getting_Started_with_Statistics_and_Python# Boile 

# Determining enviornment
def at_google_colab():
    try:
        cfg = get_ipython().config 
        if cfg['IPKernelApp']['kernel_class'] == 'google.colab._kernel.Kernel':
            return True
        else:
            return False
    except NameError:
        return False

# where are we?
location = None
if at_google_colab():
    location = 'at Google'
else:
    location = 'locally'

# print prediction
print('I think you are running {}!'.format(location))

# Import packages
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt    
if at_google_colab:
    %matplotlib inline
else:
    %matplotlib notebook

if at_google_colab():
    url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/bechdel/movies.csv'
    movies = pd.read_csv(url,index_col=0,parse_dates=[0])
else:
    # Example of loading locally
    movies = pd.read_csv('data/bechdel.csv')

I think you are running locally!

In [2]:
movies.shape

(1794, 15)

In [3]:
movies.head()

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
4,2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0

In [4]:
movies.describe()

,year,budget,domgross,intgross,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
count,1794.000000,1.794000e+03,1.777000e+03,1.783000e+03,1.794000e+03,1.776000e+03,1.783000e+03,1615.000000,1615.000000
mean,2002.552397,4.482646e+07,6.913205e+07,1.503857e+08,5.546461e+07,9.517478e+07,1.978380e+08,2.419814,1.937461
std,8.979731,4.818603e+07,8.036731e+07,2.103353e+08,5.491864e+07,1.259653e+08,2.835079e+08,1.194620,0.690116
min,1970.000000,7.000000e+03,0.000000e+00,8.280000e+02,8.632000e+03,8.990000e+02,8.990000e+02,1.000000,1.000000
25%,1998.000000,1.200000e+07,1.631157e+07,2.612947e+07,1.606892e+07,2.054659e+07,3.323260e+07,1.000000,1.000000
50%,2005.000000,2.800000e+07,4.219406e+07,7.648246e+07,3.699579e+07,5.599364e+07,9.623964e+07,2.000000,2.000000
75%,2009.000000,6.000000e+07,9.335492e+07,1.898509e+08,7.833790e+07,1.216784e+08,2.414790e+08,3.000000,2.000000
max,2013.000000,4.250000e+08,7.605076e+08,2.783919e+09,4.614359e+08,1.771683e+09,3.171931e+09,5.000000,3.000000